body {
  background-color: blue;
  height: 100vh;
}
form{
  background-color: purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label.form-label{
  font-size: 4rem;
  color: white;
}
.input {
  width: 50%;
  background-color: purple;
  color: purple;
}

#cityName.form-control {
  width: 50%;
}
.card-body{
  background-color: mediumslateblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  color: white;
}
img.card-img{
  margin: auto;
  width: 600px;
  height: 600px;
}